---
import Layout from '../layouts/Layout.astro';
import Table from '../components/Table.astro'
import Formsend from '../components/Formsend.astro'
import Formedit from '../components/Formedit.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<Table/>
		<Formsend/>
		<Formedit/>
	</main>
</Layout>

<style>

</style>
